## Directories with mostly large files (force add individual files)
allen_singleCell/
brennand_nature_check/
data/
cortecon/
intron/
otherData/
rn6_pipe/
scorecard/
SNX19/
tc_analysis/
yeo_singleCell/
ziller/

## Subdirectory names
*/FASTQ
*/*/FASTQ
*/logs
*/*/logs
*/preprocessed_data/
*/*/preprocessed_data/

## Large file types
*.pptx
*/*.bam
*/*/*.bam
*/*/*/*.bam
*/*.fq.*
*/*/*.fq.*
*/*/*/*.fq.*
*/*.fastq.*
*/*/*.fastq.*
*/*/*/*.fastq.*
